.items {
  /*   display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5vw;
  min-height: 90vh;
  margin: 0 8vw 0 8vw;
  padding-top: 5vh;
}
